<% title="Data Entry" %>

<form action="/dataEntry" method="post">
    <input type="email" name="userEmail" placeholder="enter email"/>
    <input type="number" step="0.1" name="weight" placeholder="enter weight"/>
    <input type="number"  name="day" placeholder="enter days previous"/>
    <button type="submit">Submit</button>
</form>